* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body
{
    background-image: url(resources/background.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment:fixed;
    
}



/* Here we set our menu position on the page & little custom edits */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:8px;
    padding-left: 1%;
    padding-right: 1%;
    color: rgb(5, 49, 209);
    font-weight: bold;
    font-size: 10px;
    transition: .8s;
    border-radius: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
/* here we custom edit/markup our first part of the logo!. remember we created a class "logo" */
.Logo{
    color:rgba(0, 136, 255, 0.952);
    font-size: 28px;
    cursor: pointer;
    box-shadow: 3px 2px 2px rgb(149, 41, 226);
    display: flex;
}

/* down below we also Custom markupour text the second part of our logo since we  surrounded it with a pair of span tags  */
span{
    color:rgba(239, 187, 67, 0.901);
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(3, 81, 177);
    display: flex;
    
}
/* we edit our Line-Tags for list,unorderlist for menu bar like giving a badding/space in b/w. */
.menu-bar ul {
    list-style-type: none;
    display: flex;
}

.menu-bar ul li {
    position: relative;
}
/* Here we custom edit  our menu for list,unorderlist for menu bar like color& font*/
.menu-bar ul li a {
    display: block;
    padding: 10px 20px;
    color: rgb(24, 23, 23);
    text-decoration: none;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    box-shadow: 1px 2px 1px rgb(205, 181, 226);
    transition: 2s ease-in-out;
    
    

}

/* In here we edit our hover on the Menu-bar like hover color & cursor pointer! */
.menu-bar ul li a:hover {
    color: rgb(238, 195, 217);
    transition: .4s;
    transform: scale(1.3);
    cursor: pointer;
}

   

/* Here we play with custom footer alll rights reserved!*/
footer {
    background: transparent;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: right ;
    padding-right: 6%;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
}
    
/* Submenu styles */
.sub-menu-01 {
    display: none;
    font-size: small;
    position: absolute;
    top: 100%;
    left: 0;
    
    padding: 10px 0;
    
    z-index: 1;
  
}

.sub-menu-01 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-menu-01 ul li {
    width: 165px; /* Adjust the width as needed */
}

.sub-menu-01 ul li a {
    padding: 10px 20px;
    display:block;
    white-space: nowrap;
    
    text-decoration: none; /* Remove underline */
}

.sub-menu-01 ul li a:hover {

    
}
.menu-bar ul li:hover .sub-menu-01 {
    display: block; /* Display the submenu when the parent li is hovered */
}



















